@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html, body, #root {
      @apply overflow-auto  w-full h-full min-h-screen bg-background-light text-text-dark dark:bg-background dark:text-text;
    }
    #root {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
  }

